ion-content {
  overflow: hidden;
}

.movies-container {
  display: flex;
  white-space: nowrap;
  overflow-x: auto;
  padding: 10px;

  ion-card {
    flex: 0 0 auto;
    width: 60px; // Ajusta según tus necesidades
    margin-right: 10px;

    img {
      width: 100%;
      height: 60px; // Ajusta según tus necesidades
      object-fit: cover;
      border-radius: 50%;
    }

    ion-card-header {
      ion-card-title {
        font-size: 0.8em; // Ajusta según tus necesidades
        font-weight: bold;
      }
    }

    ion-card-content {
      p {
        font-size: 0.7em; // Ajusta según tus necesidades
        margin-top: 5px; // Ajusta según tus necesidades
        color: #555;
      }
    }
  }
}